<!DOCTYPE HTML>
<html>
    <head>
        <title>Getting Started: Handling Form Submission</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <h1>Form NEW Student</h1>

        <p>Name: <input type="text" id="name" /></p>
        <p>Age: <input type="number" id="age" /></p>
        <p>Email: <input type="text" id="email" /></p>
        <p> <button onclick="sendJSON()">Submit</button>
        <p class="result" style="color:green"></p>


    <!-- Include the JavaScript file -->
        <script>

            function sendJSON(){

                let result = document.querySelector('.result');
                let name = document.querySelector('#name');
                let age = document.querySelector('#age');
                let email = document.querySelector('#email');

                // Creating a XHR object
                let xhr = new XMLHttpRequest();
                let url = "/student";

                // open a connection
                xhr.open("POST", url, true);

                // Set the request header i.e. which type of content you are sending
                xhr.setRequestHeader("Content-Type", "application/json");

                // Create a state change callback
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {

                        // Print received data from server
                        result.innerHTML = this.responseText;

                    }
                };

                // Converting JSON data to string
                var data = JSON.stringify({ "name": name.value,  "age": age.value, "email": email.value });

                // Sending data with the request
                xhr.send(data);
            }

        </script>

    </body>
</html>